/* styles.css */
@import url(./menu.css);
@import url(./inicio.css);
@import url(./footer.css);
@import url(./cardapio.css);



*{
    margin: 0;
    padding: 0;
}
body{
     background: #0b0b0b; /* preto suave */
    color: #f5f5f5;     /* texto claro que se destaca muito */
    font-family: Arial, Helvetica, sans-serif;
}

/* Títulos com brilho suave */
h1, h2, h3 {
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 200, 50, 0.5); /* brilho leve, estilo neon */
}

/* Parágrafos mais legíveis */
p {
    color: #e4e4e4;
    line-height: 1.7;
}

/* Se quiser deixar o texto ainda mais destacado */
.inicio-texto p {
    text-shadow: 0 0 4px rgba(0,0,0,0.4);
}

/* botão para retornar ao topo */
#btn-topo {
    position: fixed;
    bottom: 25px;
    right: 25px;

    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background: #ffb300;
    color: #111;
    font-size: 1.5rem;
    cursor: pointer;

    display: none; 
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 12px rgba(255, 200, 70, 0.5);
    transition: 0.2s ease;
}

#btn-topo:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 18px rgba(255, 200, 70, 0.7);
}
